
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	/*background: #219653;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #6e6d6d;
	/*height: 100%;*/
}
.buttonText
{
	/*font: 18px/1.5 Helvetica, Arial, sans-serif;*/
  color: #fff
}
h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	color: #009688;
}

p, ol, ul
{
	margin-top: 0px;
}

ol, ul
{
	margin: 0px;
	padding: 0px;
	list-style:  none
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #009688;
	text-decoration: none;
}


a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

img.border
{
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

ul.style1
{
}

ul.style1 li
{
	padding: 1.50em 0em 1.90em 0em;
	border-top: 1px solid #e8e8e8;
}

ul.style1 a
{
	text-decoration: none;
	color: #6e6d6d;
}

ul.style1 a:hover
{
	text-decoration: underline;
}

ul.style1 .posted
{
	font-size: 0.90em;
	color: #b6b6b6;
}

ul.style1 .first
{
	padding-top: 0em;
	border-top: none;
}

/** WRAPPER */

#wrapper
{
	background: #fff;
}

.container
{
	width: 1000px;
	margin: 0px auto;
	min-height: calc(100vh - 40px);
}
.container1
{
	width: 1000px;
	margin: 0px auto;
	
}

.clearfix
{
	clear: both;
}

/** HEADER */

#header-wrapper
{
	overflow: hidden;
	height: 150px;
	background: #009688;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

#header
{
	overflow: hidden;
}

/** LOGO */

#logo
{
	position: relative;
	float: left;
	width: 380px;
	height: 100px;
}

#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}

#logo h1 a
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 150px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.50em;
}

/** MENU */

#menu
{
	float: right;
	padding: 50px 0px 0px 0px;
	height: 99px;
}

#menu ul
{
	float: right;
	margin: 0px;
	padding: 0px;
	background: #009688;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
	/*padding: 1.6em 2em 1.6em 2em;*/
}
#menu li:hover
{
	float: left;
	/*margin-top: 0.2em;*/
	/*padding-bottom: 1.8em 2em;*/
	background: #E5E5E5;

}
#menu a
{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.10em;
	color: #FFFFFF;
}

#menu a:hover
{
	/*text-decoration: underline;*/
}

#menu .active a
{
	color: #088674;
}

#menu .first
{

	background: #FFFFFF;
	border-left: none;
	box-shadow: none;
	color: #009688;
}

/** PAGE */

#page
{
	overflow: hidden;
	padding: 50px 0px;
}

#page h2
{
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #009688;
}

/** CONTENT */

#content
{
	box-sizing: border-box;
  	min-height: 100%;
	float: left;
	width: 650px;
	
}

#content h2
{
	padding: 10px 0px 20px 0px;
	font-size: 2.50em;
}

#content img
{
	float: left;
	margin-right: 40px;
}

/** SIDEBAR */

#sidebar
{
	float: right;
	width: 300px;
}

#sidebar h2
{
	padding: 10px 0px 20px 0px;
}

/* Footer */

#footer
{	left: 0px;
right: 0px;
bottom: 0px;
position: absolute;
	overflow: hidden;
	padding: 2em 0em;
}

#footer p
{
	text-align: center;
	color: #FFFFFF;
}

#footer a
{
	color: #FFFFFF;
	text-decoration: none;

}

/** Banner */

#banner
{
	overflow: hidden;
	padding: 20px 0px;
	/*background: #fff;*/
	
}
#button2{  
 transition: All 0.5s ease;
 overflow: hidden;
  
}
#button2:hover {
  height: auto;
}


/** Slider */

#slider
{
	overflow: hidden;
	margin: 0 auto;
	width: 1000px;
	position: relative;
}

#slider .button
{
	display: inline-block;
	background: #0074C6;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	outline: 0;
	border-radius: 8px;
	font-size: 1.25em;
	border-bottom: solid 2px #0054A6;
	text-shadow: 0 1px 1px #003A6C;
}

#slider .button:hover
{
	background: #2094E6;
}

#slider .viewer
{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

#slider .viewer .reel
{
	display: none;
}

#slider .viewer .reel .slide
{
	position: relative;
	width: 1000px;
	height: 500px;
}

#slider .viewer .reel h2
{
	position: absolute;
	top: 230px;
	left: 0;
	padding: 0px 30px;
	line-height: 80px;
	background: #111111;
	text-align: center;
	opacity: 0.75;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
	color: #ffffff;
	font-size: 4.50em;
}

#slider .viewer .reel p
{
	position: absolute;
	top: 310px;
	left: 0;
	display: block;
	padding: 5px 35px;
	background: #0074C6;
	text-align: center;
	opacity: 0.75;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.00em;
}

#slider .indicator
{
	margin: 30px auto 0 auto;
}

#slider .indicator ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#slider .indicator ul li
{
	display: inline-block;
	width: 6px;
	height: 6px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px #909090;
}

#slider .indicator ul li.active
{
	background: #009688;
	border-top: solid 1px #009688;
}

#featured
{
	overflow: hidden;
	padding: 20px 0px;
	
}

#featured #fbox1
{
	float: left;
	width: 235px;
	margin-right: 20px;
}

#featured #fbox2
{
	float: left;
	width: 235px;
	margin-right: 20px;
}

#featured #fbox3
{
	float: left;
	width: 235px;
}

#featured #fbox4
{
	float: right;
	width: 235px;
}

#featured img
{
}

#featured p
{
	text-align: center;
}

#featured h2
{
	padding: 20px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.00em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #009688;
}

#featured .title 
{
	margin-bottom: 20px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.50em;
	color: #009688 !important;
}
#navbar a {
        color: #fff;
        padding: 1.3em 1.4em 1.3em 1.4em;
       
        text-decoration: none;
 
      }

#navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
        
      }
#navbar a:hover {
        
        color: #088674;
      }
#navbar li { display: inline; }

/*.movement{
	text-align: left;
	font-size: 2em;
	padding: 5px 0px 20px;
	text-transform: capitalize;
}*/

/*.sub-menu 
{ 
   display: none; 
} 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover 
{ 
   display: block; 
} */

ul#menu1, ul#menu1 ul {
  /*list-style-type:none;*/
  /*margin: 0px;*/
  /*padding: 0px;*/
  /*width: 250px;*/
}

ul#menu1 a,ul#menu1 span { 
	/*display: block; */
	/*text-decoration: none; */
}

ul#menu1 li {
 /*margin-top: 1px;*/
}

ul#menu1 li a,ul#menu1 li span {
  /*background: #333333;*/
  /*color: #FFFFFF;*/
  /*padding: 7px;*/
}

ul#menu1 li a:hover,ul#menu1 li span:hover { 
	/*background: #000000;*/
	 }

ul#menu1 li ul li a {
  /*background: #CCCCCC;*/
  /*color: #000000;*/
  /*padding-left: 20px;*/
}

ul#menu1 li ul li a:hover {
  /*background: #AAAAAA;*/
  /*border-left: 5px #000000 solid;*/
  /*padding-left: 15px;*/
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }


input[type="submit"] {
	border:1px solid #009688;
	background-color: #fff;
	color: #009688;
    padding: .3em 1.4em .3em 1.4em;
    text-decoration: none;
}

input[type="submit"]:hover {
	border:1px solid #009688;
	background-color: #009688;
	color: #fff;
    padding: .3em 1.4em .3em 1.4em;
    text-decoration: none;
    cursor: pointer;
}

input[type="text1"] {
	border:1px solid #fff;
	background-color: #fff;
	color: #009688;
    padding: .1em .4em .1em .4em;
    text-decoration: none;
}