{% extends 'robotics/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="banner"> 
   
	<div id="featured" style="padding: 0px 0px;" class="container" >

	    <h2 class="title">Choose the movement</h2>
	    <div id="sidebar">
			<div>
				<h2>Specification</h2>
				<ul class="style1">
					<li class="first">
						<p>Our robot can move maximum of 175 steps.</p>
						</li>
					<li>
						<p>Our criteria for the robot  to  check  the  temperature  and  comes  back  to  original  position  only  when  it  hits something  of  high  or  low  value  than  normal  range,  was  not  fulfilled.</p>
						 </li>
				</ul>
			</div>
		</div>
	    <ul id="menu1">
	    	<div id="page"  style="padding-bottom: 10px; padding-top: 10px; ">
				<div id="content"> 
					<form oninput="sizePic1()" action="" method="post">{% csrf_token %}
						<div style="margin-top: 10px; ">
							<div style="float:left; margin-right: 3em;"> 
							<li>
								<span>
							<!--<h2 style="cursor: pointer; text-align: left; font-size: 2em; padding: 5px 0px 20px; text-transform: capitalize;"></h2>-->
								<label >{{form.movement}}</label>
								</span>
							   
							</li>
							</div>
							<div style="float:left;margin-top: 10px; margin-bottom: 10px; ">
								<li>
									<p style="font-size: 1.5em; color: #009688;" for="your_name">Compression / decompression ratio: </p>
									<input style="margin-top: 20px; width: 300px;" type="range" id="slider1" value="0" min="0" max="174" step="1" onchange="showSliderValue1()">
									{{form.distance}}
							   	</li>
								<div style="margin-top: 20px;  float:right; margin-bottom: 10px;">
									<div style="float:left; margin-right: 1em;">
										<li >
											<input type="submit" name="def" value="Default" >
										</li>
									</div>  		
									<div style="float:right; "> 
										<li>
											<input type="submit" name="ok" value="OK" >
										</li>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</ul>
					
		</div>
	
</div>
{% endblock content %}
