{% extends 'robotics/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="banner">
	<div id="featured" style="padding: 0px 0px;"  class="container">
		<h2 class="title">Contact Us</h2>
	<div id="page"  >
		<div id="content"> <img src="{% static 'images/pic04.jpg' %}" width="235" height="235" alt="" />
			<h2>Evheniia Monastyrna</h2>
			<p>In posuere eleifend quisque semper augue mattis wisi maecenas ligula.</p>
		</div>
		<div id="sidebar">
			<div>
				<h2>Categories</h2>
				<ul class="style1">
					<li class="first">
						<p><a href="#">Ipsum ante vivamus semper faucibus varius. Nam risus nibh, commodo vulputate.</a></p>
						</li>
					<li>
						<p><a href="#">Sed amet consequat lorem ipsum dolor sit amet blandit feugiat lorem ipsum sed ante nibh.</a></p>
						 </li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page" >
		<div id="content"> <img src="{% static 'images/pic05.jpg' %}" width="235" height="235" alt="" />
			<h2>Galina Neschadina</h2>
			<p>In posuere eleifend quisque semper augue mattis wisi maecenas ligula.</p>
		</div>
		<div id="sidebar">
			<div>
				<h2>Categories</h2>
				<ul class="style1">
					<li class="first">
						<p><a href="#">Ipsum ante vivamus semper faucibus varius. Nam risus nibh, commodo vulputate.</a></p>
						</li>
					<li>
						<p><a href="#">Sed amet consequat lorem ipsum dolor sit amet blandit feugiat lorem ipsum sed ante nibh.</a></p>
						 </li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page">
		<div id="content"> <img src="{% static 'images/pic06.jpg' %}" width="235" height="235" alt="" />
			<h2>Illya Bereza</h2>
			<p>In posuere eleifend quisque semper augue mattis wisi maecenas ligula.</p>
		</div>
		<div id="sidebar">
			<div>
				<h2>Categories</h2>
				<ul class="style1">
					<li class="first">
						<p><a href="#">Ipsum ante vivamus semper faucibus varius. Nam risus nibh, commodo vulputate.</a></p>
						 </li>
					<li>
						<p><a href="#">Sed amet consequat lorem ipsum dolor sit amet blandit feugiat lorem ipsum sed ante nibh.</a></p>
						 </li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page" >
		<div id="content"> <img src="{% static 'images/pic07.png' %}" width="235" height="235" alt="" />
			<h2>Alexey Repkin</h2>
			<p>In posuere eleifend quisque semper augue mattis wisi maecenas ligula.</p>
		</div>
		<div id="sidebar">
			<div>
				<h2>Categories</h2>
				<ul class="style1">
					<li class="first">
						<p><a href="#">Ipsum ante vivamus semper faucibus varius. Nam risus nibh, commodo vulputate.</a></p>
						 </li>
					<li>
						<p><a href="#">Sed amet consequat lorem ipsum dolor sit amet blandit feugiat lorem ipsum sed ante nibh.</a></p>
						</li>
				</ul>
			</div>
		</div>
	</div></div>
</div>
{% endblock content %}

